@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Nunito", sans-serif;
    color: #d8d8d8;
}



/*---------------------Background Colors-----------------------------*/

.bg-color-home {
    background-color: #000000d9;
}

.bg-color-about{
    background-color: white;
}



/*---------------------Containers-----------------------------*/

.home-container {
    min-height: 100vh;
    color: #d8d8d8;
}

.home-container h1 {
   margin: 3rem;
}


.hero-container {
    margin: 3rem;
    color: teal;
    width: 100%;

}

.about-container {
    min-height: 100vh;
}

/*---------------------NAVBAR-----------------------------*/

.navbar-brand {
    font-weight: 700;
    color: #d8d8d8;
}

.bg-light {
    background-color: #000000d9!important; 
}

.comma-color {
    color: teal;
}

.period-color {
    color: palevioletred;
}


/*---------------------MEDIA-----------------------------*/

@media (max-width: 575.98px) {
    .home-container h1 {
        font-size: 2rem; 
        margin: 3rem;
    }
}

@media (min-width: 576px) { 
    .home-container h1 {
        font-size: 3rem; 
        margin: 3rem;
    }
}


@media (min-width: 768px) {
    .home-container h1 {
        font-size: 2rem; 
        margin: 3rem;
    }
}


@media (min-width: 992px) {
    
}


@media (min-width: 1200px) {
    .home-container h1 {
        font-size: 5rem;
        
    }

}


@media (min-width: 1400px) {

}



/*--------------------ARROW ANIMATION-------------*/

.arrow{
    position: absolute;
    margin-top: 1rem;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid teal;
    border-right: 5px solid teal;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

/* SHAPEDIVIDER */

.custom-shape-divider-bottom-1617818986 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom:-5rem;
}

.custom-shape-divider-bottom-1617818986 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 305px;
}

.custom-shape-divider-bottom-1617818986 .shape-fill {
    fill: #FFFFFF;
}

/* SHAPEDIVIDER */

.custom-shape-divider-bottom-1617819865 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617819865 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 305px;
}

.custom-shape-divider-bottom-1617819865 .shape-fill {
    fill: #000000D9;
}